/* =============== GOOGLE FONTS =============== */
@import url("https://fonts.googleapis.com/css2?family=Galada&family=Montserrat:wght@100..900&display=swap");

/* =============== VARIABLES CSS =============== */
:root {
  --header-height: 3.5rem;
  --first-color: hsl(1, 100%, 38%);
  --white-color: hsl(0, 0%, 100%);
  --body-font: "Montserrat", sans-serif;
  --second-font: "Galada", cursive;
  --biggest-font-size: 3rem;
  --normal-font-size: .938rem;
  --font-regular: 400;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* ========== Responsive typography ========== */
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
  }
}

/* =============== CHRISTMAS MAIN =============== */
.christmas-main {
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* =============== HOME =============== */
.home {
  position: relative;
  width: 100%;
}

.home__container {
  height: 600px;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.home__bg,
.home__cloud-1,
.home__cloud-2,
.home__sled,
.home__images img,
.home__title {
  position: absolute;
}

.home__bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.home__images img {
  max-width: initial;
  width: 900px;
  right: -16rem;
  bottom: 0;
}

.home__sled {
  width: 200px;
  top: 11rem;
  left: 0;
  animation: sled 10s linear infinite;
  transition: transform .4s;
}

.home__cloud-1,
.home__cloud-2 {
  width: 80px;
}

.home__cloud-1 {
  left: 2rem;
  top: 5rem;
  animation: cloud-1 12s linear infinite;
}

.home__cloud-2 {
  right: 2rem;
  top: 8.5rem;
  animation: cloud-2 12s linear infinite;
}

.home__title {
  bottom: 1.5rem;
  left: 0;
  right: 0;
  color: var(--first-color);
  font: var(--font-regular) var(--biggest-font-size) var(--second-font);
  line-height: 100%;
  text-align: center;
  z-index: 10;
}

/* Animated Clouds */
@keyframes cloud-1 {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -1000px;
  }
}

@keyframes cloud-2 {
  0% {
    margin-right: -1000px;
  }
  100% {
    margin-right: 100%;
  }
}

/* Animated sled */
@keyframes sled {
  0% {
    transform: translateX(-150vw) rotate(15deg) scale(.2);
  }
  15% {
    transform: translateX(0vw) rotate(10deg) scale(1);
  }
  30% {
    transform: translateX(10vw) rotate(7deg);
  }
  45% {
    transform: translateX(20vw) rotate(6deg);
  }
  60% {
    transform: translateX(30vw) rotate(5deg);
  }
  75% {
    transform: translateX(40vw) rotate(4deg);
  }
  90% {
    transform: translateX(50vw) rotate(-2deg);
  }
  100% {
    transform: translateX(150vw) rotate(-15deg) scale(.2);
  }
}

/* Snow color */
#embedim--snow .embedim-snow {
  background: white;
}

/* =============== BREAKPOINTS =============== */
/* For small devices */
@media screen and (min-width: 320px) and (max-height: 600px) {
  .home__container {
    height: 780px;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .home__images img {
    width: 100%;
    right: 0;
  }
  .home__title {
    bottom: -.5rem;
  }
}

@media screen and (min-width: 768px) {
  .home__sled {
    width: 300px;
  }
  .home__title {
    bottom: -.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .home__container {
    height: 860px;
  }

  .home__cloud-1,
  .home__cloud-2 {
    width: 150px;
  }

  .home__cloud-1 {
    top: 8rem;
  }
  
  .home__cloud-2 {
    top: 12rem;
  }
  
  .home__sled {
    width: 480px;
    top: 7rem;
  }
}

@media screen and (min-width: 1500px) {
  .home__images img {
    bottom: -4rem;
  }
  .home__title {
    bottom: 0;
  }
}

/* For taller devices */
@media screen and (min-width: 1150px) and (min-height: 860px) {
  .home__container {
    height: 100vh;
  }
}
